button,
optgroup,
select,
textarea {
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input {
    text-align:center;
    outline: none;
    -webkit-appearance: none; 
    appearance: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }

.formulario {
    font-family: 'Varela Round', sans-serif;
    margin: auto;
}

.capacidade_caixa label {
    font-family: 'Varela Round', sans-serif;
}

.titulo_instalacao{
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-align: start;
}

div h1 {
    font-family: 'Varela Round', sans-serif;
}
